.md-layout-item{
  padding-right: 15px;
  padding-left: 15px;
}
  .center {
    padding-top: 50%;
    margin: auto;
  }
  .border {
    border: 2px solid grey;
  }
  .small {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
  }